node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
airdrop.json
.env
.env.*
.env

# Local simulation wallets
airdropList.json
airdropList.*.json

# Local simulation outputs
airdropList.json
communityStakeReport.json
leaderboardKRM.json
nftHolders.json
stakingBoostLeaderboard.json
leaderboard*.json
*Report*.json
